{% extends "base.html"%} {% block title %}Dashboard{% endblock %}
{% block nav_dashboard %}<a class="nav-link" href="/" id="dashboard">Dashboard </a> {% endblock %}
{% block nav_register_login %}<a class="nav-link" href="/logout" id="logout">Logout</a>{% endblock %}
{% block content %}

<br/>
<h1 align="center">Chat Dashboard</h1>
<div class="card" style="min-height: 30rem;">
  <div id ="resposeContent" class="card-body">
    <div class="card-scroll">
      Hello
    </div>
  </div>
</div>
<br/>
{% block javascript %}{% endblock %}
<form method="POST">
  <textarea name="prompt" id="prompt" class="form-control" placeholder="Send your message here..."></textarea>
  <br />
  <div align="center">
    <button type="submit" id = 'sendButton' class="btn btn-primary">Send Message</button>
    <button type="submit" id = 'clearButton' class="btn btn-danger" onclick="clearConversation()">Clear Conversation</button>
  </div>
</form>

 {% endblock %}